.lightbox {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;

    img {
        max-width: 90%;
        max-height: 90%;
        border: 3px solid white;
        border-radius: 5px;
    }
}